body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template h1 {
  font-size: 63px;
}

.party-form {
  margin-bottom: 20px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 35px;
    line-height: normal;
}