
    <!-- Page Content -->
    <div class="container col-centered">
        <div class="container">
            <div class="row carousel-holder">
                <div class="col-md-10 col-md-offset-1">
                    <!-- meal images carousel -->
                    <div class="row carousel-holder">
                        <div class="col-md-12">



                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="slide-image" src="http://www.yogabelfast.com/media/uploads/food_stock2.jpg" style="margin-top:-50px; margin-bottom: -120px; overflow:hidden" alt="">
                                    </div>
                                    <div class="item">
                                    </div>
                                    <div class="item">
                                    </div>
                                </div>

                        </div>
                    </div>
                    <!-- begin meal thumbnails -->
                    <hr>
                    <div id='container'>
                        <div class="row" ng-controller="MealController">
                            <div ng-repeat="meal in data | filter:search ">
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        <img id="meal_images" ng-src="{{meal.meals.url || 'http://images.realestateview.com.au/pics/406/Food-Hospitality-Elsternwick-VIC-3185-Real-Estate-photo-1-featured-9374406.jpg'}}">
                                        <div class="caption">
                                            <h4 class="pull-right">{{meal.meals.price | currency}}</h4>
                                            <h4><a href="#">{{meal.meals.title}}</a></h4>
                                            <button type="submit" class="btn btn-success pull-right" ng-click="orderMeal(meal)">Add to cart</button>
                                            <p>{{meal.meals.description}}</p>
                                        </div>
                                        <div class="ratings">
                                            <p class="pull-right">{{ randReviews[$index] }} review<span ng-show='randReviews[$index] !== 1'>s</span></p>
                                            <p>
                                                <span ng-show='randStars[$index] >= 1' class="glyphicon glyphicon-star"></span>
                                                <span ng-show='randStars[$index] >= 2' class="glyphicon glyphicon-star"></span>
                                                <span ng-show='randStars[$index] >= 3' class="glyphicon glyphicon-star"></span>
                                                <span ng-show='randStars[$index] >= 4' class="glyphicon glyphicon-star"></span>
                                                <span ng-show='randStars[$index] >= 5' class="glyphicon glyphicon-star"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

